/* Start Global Rules */
* {
    box-sizing: border-box;
  }
  body {
    font-family: 'Open Sans', sans-serif;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  .landing-page header {
    min-height: 80px;
    display: flex;
  }
  @media (max-width: 767px) {
    .landing-page header {
      min-height: auto;
      display: initial;
    }
  }
  .landing-page header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width: 767px) {
    .landing-page header .container {
      flex-direction: column;
      justify-content: center;
    }
  }
  .landing-page header .logo {
    color: #5d5d5d;
    font-style: italic;
    text-transform: uppercase;
    font-size: 20px;
  }
  @media (max-width: 767px) {
    .landing-page header .logo {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .landing-page header .links {
    display: flex;
    align-items: center;
  }
  @media (max-width: 767px) {
    .landing-page header .links {
      text-align: center;
      gap: 10px;
    }
  }
  .landing-page header .links li {
    margin-left: 30px;
    color: #5d5d5d;
    cursor: pointer;
    transition: .3s;
  }
  @media (max-width: 767px) {
    .landing-page header .links li {
      margin-left: auto;
    }
  }
  .landing-page header .links li:last-child {
    border-radius: 20px;
    padding: 10px 20px;
    color: #FFF;
    background-color: #6c63ff;
  }
  .landing-page header .links li:not(:last-child):hover {
    color: #6c63ff;
  }
  .landing-page .content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    min-height: calc(100vh - 80px);
  }
  @media (max-width: 767px) {
    .landing-page .content .container {
      gap: 0;
      min-height: calc(100vh - 101px);
      justify-content: center;
      flex-direction: column-reverse;
    }
  }
  @media (max-width: 767px) {
    .landing-page .content .info {
      text-align: center;
      margin-bottom: 15px 
    }
  }
  .landing-page .content .info h1 {
    color: #5d5d5d;
    font-size: 44px;
  }
  .landing-page .content .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #5d5d5d;
  }
  .landing-page .content .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #6c63ff;
  }
  .landing-page .content .info button:hover{
    background-color: whitesmoke;
    color: red;
  }

  .landing-page .content .info button span{
    text-decoration: double;
    text-decoration-thickness: 50;
    text-decoration-color: #008CBA;
  }
  .landing-page .content .image img {
    max-width: 100%;
  }
  /* End Landing Page */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.advertisement {
    background-color: #ffd700;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.laptop {
    background-color: #fff;
    border: 1px solid #fff;
    padding: 20px;
    margin: 10px;
    width: 30%;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    clear: both;
}

button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ccc;
}
  
nav {
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ccc;
}

.landing {
  width: 100%;
  height: 50rem;
  background: url('delivery-5585969_1280.jpg') no-repeat center center/cover;
  margin: 10px;
 
}

.landing .content {
  width: 40%;
  /* padding: 50px 0 0 30px; */
  margin-left: 38%;
  padding: 5rem;

}

.landing p, .carbon p {
  margin: 10px 0 20px;
}

.landing .content .btn{
  background-color: #008CBA;
  color: white;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10rem;
  line-height: 3.5;
  margin-left: 2rem;
}

.landing .content .btn:hover{
  background-color: #ccc;
  color: #008CBA;
}
.landing .content h1{
  color: #5d5d5d;
  font-size: 44px;
}

.landing .content p{
margin: 0;
line-height: 1.5;
font-size: 15px;
color: #5d5d5d;
}